name: WIP Pull Localization from Google Sheets

on:
  workflow_dispatch: {}

env:
  TEMP_KEY_JSON_PATH: 'UnityLocalizationExtension/service-account-key.json'

jobs:
  pull-localization-tables:
    name: Pull Localization Tables
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true

      - name: Generate Temp Key Json
        shell: bash
        run: |
          mkdir -p $(dirname "${{ env.TEMP_KEY_JSON_PATH }}")
          echo "${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY_JSON_BASE64 }}" | base64 --decode > "${{ env.TEMP_KEY_JSON_PATH }}"

      - name: Execute PullAllLocalizationTables
        uses: game-ci/unity-builder@v2
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          projectPath: ./
          unityVersion: 2021.3.6f1
          targetPlatform: Android
          buildMethod: Tsgcpp.Localization.Extension.Example.Editor.ExampleLocalizationSynchronizationMenu.PullAllLocalizationTablesFromTempKeyJson

      - name: Delete Temp Key Json
        if: always()
        run: |
          rm -f "${{ env.TEMP_KEY_JSON_PATH }}"

      - name: Git diff
        shell: bash
        run: |
          git diff

      # - name: Execute PullAllLocalizationTables
      #   shell: cmd
      #   run: |
      #     "C:\Program Files\Unity\Hub\Editor\2021.3.6f1\Editor\Unity.exe" ^
      #       -projectPath ".\" ^
      #       -executeMethod "Tsgcpp.Localization.Extension.Example.Editor.ExampleLocalizationSynchronizationMenu.PullAllLocalizationTablesWithGoogleServiceAccount" ^
      #       -logFile -
