name: Pull Localization from Google Sheets

on:
  workflow_dispatch: {}

env:
  KEY_JSON_PATH: 'SecretCache/UnityLocalizationExtension/service-account-key.json'
  BASE_BRANCH: ${{ github.ref_name }}
  HEAD_BRANCH: ${{ github.ref_name }}-update

jobs:
  pull-localization-tables:
    name: Pull Localization Tables
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true

      - name: Generate Key
        shell: bash
        run: |
          mkdir -p $(dirname "${{ env.KEY_JSON_PATH }}")
          echo "${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY_JSON_BASE64 }}" | base64 --decode > "${{ env.KEY_JSON_PATH }}"

      - name: Execute PullAllLocalizationTables
        uses: game-ci/unity-builder@v2
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          projectPath: ./
          unityVersion: 2021.3.6f1
          targetPlatform: Android
          buildMethod: Tsgcpp.Localization.Extension.Example.Editor.ExampleLocalizationSynchronizationMenu.PullAllLocalizationTablesFromTempKeyJson

      - name: Delete Key
        if: always()
        run: |
          rm -f "${{ env.KEY_JSON_PATH }}"

      - name: Git Commit String Tables
        id: commit
        shell: bash
        run: |
          set -eux

          git checkout -b ${{ env.HEAD_BRANCH }}

          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

          git reset
          git add --update "Assets/Example/StringTableCollection"
          DIFF_COUNT=$(git diff --staged --name-only | wc -l)

          if [ "${DIFF_COUNT}" -le 0 ]
          then
            echo "::notice::Skipped the commit becuase no differences were found."
            exit 0
          fi

          DATE=$(date '+%Y/%m/%d %H:%M')
          TITLE="Update StringCollectionTable (${DATE})"

          git commit -m "${TITLE}"

          echo "::set-output name=has_diff::true"
          echo "::set-output name=title::${TITLE}"

      - name: Git Push ans PullRequest
        if: steps.commit.outputs.has_diff == 'true'
        shell: bash
        run: |
          REMOTE_SHA=$(git ls-remote --heads origin ${{ env.HEAD_BRANCH }})
          if [ -n "${REMOTE_SHA}" ]
          then
            git push origin :${{ env.HEAD_BRANCH }}
            echo "::notice::The remote branch (ref_name: ${{ env.HEAD_BRANCH }}, sha: ${REMOTE_SHA})"
          fi

          git push origin ${{ env.HEAD_BRANCH }}

          sleep 2

          PR_URL=$(gh pr create \
            --base "${{ env.BASE_BRANCH }}" \
            --head "${{ env.HEAD_BRANCH }}" \
            --title "${{ steps.commit.outputs.title }}" \
            --body "" \
            )

          echo "::notice::${PR_URL} was issued."

        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Notice
        run: |
          echo "This is a notification phase"
